body {
    background-color: #222222;
    color: #D7DADC;
}

/* Container used to manipulate the main content box. */

.main-container {
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;
}

/* Container used to manipulate the form container's box. */

.form-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 105vh;
    border: 1px solid #fff;
}

.img-logo{

}

.form-content {

}

.form-content .inputs {

}

.form-content .data-getter {
    
}