/* Root works to save palettes as variables */
:root {
    --bg: #181818;
}

body {
    background-color: #181818;
    color: #D7DADC;
}

/* Container used to manipulate the main content box. */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
}

/* Container used to manipulate the form container's box. */

.form-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 135vh;
    border: 1px solid #fff;
}

.img-logo{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 52vw;
    background-color: #fff;
    /*background-image: url(./space-g1e38f8dc5_1920.jpg);*/
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

/*You need to edit this one to prevent moving the whole container and just the form container and items*/

.form-content {
    display: flex;
    justify-content: center;
    margin-left: 35px;
    font-size: 20px;
}

.form-content .form-header {
    margin-top: 18vh;
    width: 80%;
}

.form-content .form-header .input-header{
    margin-bottom: 10px;
}

.form-content .inputs {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    gap: 5vw;
}

.form-content .inputs .inputs-left, .inputs-right {
    display: flex;
    flex-flow: column;
    width: 35%;
}

.form-content .inputs .inputs-left .input, .inputs-right .input {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
    margin-top: 5px;
}

.form-content .inputs .inputs-left label, .inputs-right label {
    font-size: 14px;
}

/* Modifies the content of the input boxes */

.form-content .inputs .inputs-left input, .inputs-right input{
    
}

.form-content .data-getter {
    margin-top: 20px;
}

/* Modifies the submit input button */
.form-content .data-getter input {
    padding: 10px 35px;
    border-radius: 6px;
    background-color: green;
    color: white;
    transition: all 0.4s;
}

.form-content .data-getter input:hover {
    background-color: white;
    color: green;
}

.form-content .data-getter h3 {
    margin-top: 20px;
}

.form-content .data-getter a{
    text-decoration: none;
    color: green;
}